@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header {
  @include flex-column;
  gap: 12px;
  margin-bottom: 24px;
}

.options {
  @include flex-column;
  gap: 16px;
  margin-bottom: 24px;
}

.optionCard {
  @include flex-column;
  gap: 12px;
  align-items: center;
}

.buttonContainer {
  margin: 24px 0 20px;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
