@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  @include flex-column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  padding: 30px 20px;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.cardContainer {
  @include flex-column;
  flex-shrink: 0;
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0px 20px 20px #171a1f3d;
}

.button {
  margin: 24px 0 20px;
  width: 100%;
}
