@use '@/styles/variables' as *;

.skeleton {
  background: linear-gradient(90deg, $neutral-200 25%, $neutral-100 50%, $neutral-200 75%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease-in-out infinite;
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
