# API Base URL
NEXT_PUBLIC_API_BASE_URL=

# MSW (Mock Service Worker)
# 개발 중 Mock API 사용: true, 실제 API 사용: false
NEXT_PUBLIC_ENABLE_MSW=false

# Kakao SDK 
NEXT_PUBLIC_KAKAO_APP_KEY=

# REST API 키
NEXT_PUBLIC_KAKAO_CLIENT_ID=

# 환경별로 도메인 분기
NEXT_PUBLIC_KAKAO_REDIRECT_URI=