{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://beta-hotpick-api.votebox.kr",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Admin Search",
      "description": "MeiliSearch sync admin API"
    },
    {
      "name": "Admin Category",
      "description": "Category admin API"
    },
    {
      "name": "ServerMeta",
      "description": "Server meta API"
    },
    {
      "name": "Hotpick Search",
      "description": "Hotpick search API"
    },
    {
      "name": "Comment",
      "description": "Hotpick comment API"
    },
    {
      "name": "Hotpick",
      "description": "Hotpick display and vote API"
    },
    {
      "name": "Admin Storage",
      "description": "관리자용 S3 Pre-signed URL API"
    },
    {
      "name": "Admin Hotpick",
      "description": "Hotpick admin API"
    },
    {
      "name": "Admin ServerMeta",
      "description": "Admin server meta API"
    }
  ],
  "paths": {
    "/api/v1/comments/{commentId}": {
      "put": {
        "tags": ["Comment"],
        "summary": "Update comment",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentUpdateResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Comment"],
        "summary": "Delete comment",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/server-metas/{id}": {
      "get": {
        "tags": ["Admin ServerMeta"],
        "summary": "Get server meta detail",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseServerMetaResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin ServerMeta"],
        "summary": "Update server meta",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServerMetaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseServerMetaResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin ServerMeta"],
        "summary": "Delete server meta",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/hotpicks/{hotpickId}": {
      "get": {
        "tags": ["Admin Hotpick"],
        "summary": "Get hotpick detail",
        "operationId": "getHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin Hotpick"],
        "summary": "Update hotpick",
        "operationId": "updateHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHotpickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Hotpick"],
        "summary": "Delete hotpick",
        "operationId": "deleteHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/categories/{categoryId}": {
      "put": {
        "tags": ["Admin Category"],
        "summary": "Update category",
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAdminCategoryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Category"],
        "summary": "Delete category",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}/votes": {
      "post": {
        "tags": ["Hotpick"],
        "summary": "Submit vote for a hotpick",
        "operationId": "vote",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoteResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}/like": {
      "post": {
        "tags": ["Hotpick"],
        "summary": "Like hotpick",
        "operationId": "likeHotpick",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseHotpickLikeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Hotpick"],
        "summary": "Unlike hotpick",
        "operationId": "unlikeHotpick",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseHotpickLikeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}/elections/{electionId}/comments": {
      "get": {
        "tags": ["Comment"],
        "summary": "Get comment list",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "electionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Comment"],
        "summary": "Create comment",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "electionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comments/{commentId}/verify": {
      "post": {
        "tags": ["Comment"],
        "summary": "Verify comment password",
        "operationId": "verifyComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comments/{commentId}/like": {
      "post": {
        "tags": ["Comment"],
        "summary": "Like comment",
        "operationId": "likeComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentLikeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Comment"],
        "summary": "Unlike comment",
        "operationId": "unlikeComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentLikeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/server-metas": {
      "get": {
        "tags": ["Admin ServerMeta"],
        "summary": "Get server meta list",
        "operationId": "getAll",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListServerMetaResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin ServerMeta"],
        "summary": "Create server meta",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerMetaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateServerMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/search/sync": {
      "post": {
        "tags": ["Admin Search"],
        "summary": "Sync all hotpicks to MeiliSearch",
        "operationId": "syncAll",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/search/sync/{hotpickId}": {
      "post": {
        "tags": ["Admin Search"],
        "summary": "Sync single hotpick to MeiliSearch",
        "operationId": "syncOne",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/hotpicks": {
      "get": {
        "tags": ["Admin Hotpick"],
        "summary": "Get hotpick list",
        "operationId": "getHotpicks",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListAdminHotpickSummaryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Hotpick"],
        "summary": "Create hotpick",
        "operationId": "createHotpick",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHotpickRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/categories": {
      "get": {
        "tags": ["Admin Category"],
        "summary": "Get category list",
        "operationId": "getCategories",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListAdminCategoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Category"],
        "summary": "Create category",
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseAdminCategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/server-metas/{id}": {
      "get": {
        "tags": ["ServerMeta"],
        "summary": "Get server meta",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseServerMetaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get hotpick detail",
        "operationId": "getDetail",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseHotpickDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}/elections/{electionId}/comments/count": {
      "get": {
        "tags": ["Comment"],
        "summary": "Get comment count",
        "operationId": "countComments",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "electionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCommentCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/search": {
      "get": {
        "tags": ["Hotpick Search"],
        "summary": "Search hotpicks",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬 방식 (기본: relevance, 관련도순)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["relevance", "latest", "popular"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/main": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get main hotpick display",
        "operationId": "getMain",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬 방식 (기본: recommended)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["recommended", "latest", "popular", "hot"]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-tku-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMainHotpickResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/categories": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get category tabs",
        "operationId": "getCategories_1",
        "parameters": [
          {
            "name": "selected",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListCategoryTabResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/storage/presigned": {
      "get": {
        "tags": ["Admin Storage"],
        "summary": "관리자 업로드용 Pre-signed URL 발급",
        "description": "파일명을 전달하면 S3 업로드 URL과 CDN 경로를 반환합니다.",
        "operationId": "generatePresignedUrl",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/hotpicks/check-slug": {
      "get": {
        "tags": ["Admin Hotpick"],
        "summary": "Check hotpick slug duplicate",
        "operationId": "checkSlug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseHotpickSlugCheckResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponseVoid": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "object",
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "object",
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "UpdateCommentRequest": {
        "required": ["content", "verifyToken"],
        "type": "object",
        "properties": {
          "verifyToken": {
            "type": "string"
          },
          "content": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "BaseResponseCommentUpdateResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentUpdateResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentUpdateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "description": "응답 데이터"
      },
      "JsonNode": {
        "type": "object"
      },
      "UpdateServerMetaRequest": {
        "required": ["meta"],
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "BaseResponseServerMetaResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/ServerMetaResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "ServerMetaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/JsonNode"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "응답 데이터"
      },
      "HotpickElectionItemRequest": {
        "required": ["title"],
        "type": "object",
        "properties": {
          "displayOrder": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "imageUrl": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "HotpickElectionRequest": {
        "required": ["items", "title"],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "imageUrl": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string"
          },
          "totalCommentCount": {
            "minimum": 0,
            "type": "integer",
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotpickElectionItemRequest"
            }
          }
        }
      },
      "UpdateHotpickRequest": {
        "required": ["election", "slug", "type", "visible"],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["SINGLE"]
          },
          "slug": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "imageUrl": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "categoryIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "election": {
            "$ref": "#/components/schemas/HotpickElectionRequest"
          }
        }
      },
      "AdminCategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "AdminElectionItemResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "voteCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AdminElectionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "hotpickId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "totalVoteCount": {
            "type": "integer",
            "format": "int64"
          },
          "totalCommentCount": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminElectionItemResponse"
            }
          }
        }
      },
      "AdminHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "imageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminCategoryResponse"
            }
          },
          "election": {
            "$ref": "#/components/schemas/AdminElectionResponse"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseAdminHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/AdminHotpickDetailResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "UpdateCategoryRequest": {
        "required": ["name", "slug"],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          },
          "slug": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "BaseResponseAdminCategoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/AdminCategoryResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CreateVoteRequest": {
        "required": ["electionItemId"],
        "type": "object",
        "properties": {
          "electionItemId": {
            "type": "integer",
            "format": "int64"
          },
          "serverMetaId": {
            "type": "string"
          },
          "clientMeta": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "BaseResponseVoteResultResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/VoteResultResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "ElectionItemViewResponse": {
        "type": "object",
        "properties": {
          "electionItemId": {
            "type": "integer",
            "format": "int64"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "voteCount": {
            "type": "integer",
            "format": "int64"
          },
          "voteRate": {
            "type": "integer",
            "format": "int32"
          },
          "selected": {
            "type": "boolean"
          }
        }
      },
      "VoteResultResponse": {
        "type": "object",
        "properties": {
          "hotpickId": {
            "type": "integer",
            "format": "int64"
          },
          "hotpickSlug": {
            "type": "string"
          },
          "electionId": {
            "type": "integer",
            "format": "int64"
          },
          "myElectionItemId": {
            "type": "integer",
            "format": "int64"
          },
          "totalVoteCount": {
            "type": "integer",
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ElectionItemViewResponse"
            }
          },
          "voted": {
            "type": "boolean"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseHotpickLikeResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/HotpickLikeResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "HotpickLikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "응답 데이터"
      },
      "CreateCommentRequest": {
        "required": ["content", "nickname", "password"],
        "type": "object",
        "properties": {
          "nickname": {
            "maxLength": 80,
            "minLength": 0,
            "type": "string"
          },
          "password": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "content": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "BaseResponseCommentCreateResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentCreateResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "description": "응답 데이터"
      },
      "VerifyCommentRequest": {
        "required": ["password"],
        "type": "object",
        "properties": {
          "password": {
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "BaseResponseCommentVerifyResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentVerifyResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentVerifyResponse": {
        "type": "object",
        "properties": {
          "verifyToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          },
          "expiredAt": {
            "type": "string"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseCommentLikeResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentLikeResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentLikeResponse": {
        "type": "object",
        "properties": {
          "liked": {
            "type": "boolean"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "응답 데이터"
      },
      "CreateServerMetaRequest": {
        "required": ["meta"],
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "BaseResponseCreateServerMetaResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CreateServerMetaResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CreateServerMetaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseMapStringObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "description": "응답 데이터"
            },
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CreateHotpickRequest": {
        "required": ["election", "slug", "type", "visible"],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["SINGLE"]
          },
          "slug": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "imageUrl": {
            "maxLength": 500,
            "minLength": 0,
            "type": "string"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "categoryIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "election": {
            "$ref": "#/components/schemas/HotpickElectionRequest"
          }
        }
      },
      "CreateCategoryRequest": {
        "required": ["name", "slug"],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          },
          "slug": {
            "maxLength": 120,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "BaseResponseHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/HotpickDetailResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "ElectionViewResponse": {
        "type": "object",
        "properties": {
          "electionId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "totalVoteCount": {
            "type": "integer",
            "format": "int64"
          },
          "totalCommentCount": {
            "type": "integer",
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ElectionItemViewResponse"
            }
          },
          "voted": {
            "type": "boolean"
          },
          "myElectionItemId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "HotpickCardResponse": {
        "type": "object",
        "properties": {
          "hotpickId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "isExpired": {
            "type": "boolean"
          },
          "tag": {
            "type": "string",
            "description": "메인 노출 태그. main(sort)에서만 값이 내려가며 상세/연관 목록에서는 null일 수 있음",
            "enum": ["RECOMMENDED", "HOT_THIS_WEEK", "LATEST", "POPULAR", "HOT_NOW"]
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          },
          "liked": {
            "type": "boolean"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotpickCategoryResponse"
            }
          },
          "topComment": {
            "$ref": "#/components/schemas/TopCommentResponse"
          },
          "election": {
            "$ref": "#/components/schemas/ElectionViewResponse"
          }
        }
      },
      "HotpickCategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "HotpickDetailResponse": {
        "type": "object",
        "properties": {
          "hotpick": {
            "$ref": "#/components/schemas/HotpickCardResponse"
          },
          "relatedHotpicks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotpickCardResponse"
            }
          }
        },
        "description": "응답 데이터"
      },
      "TopCommentResponse": {
        "type": "object",
        "properties": {
          "commentId": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BaseResponseCommentListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentListResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          },
          "liked": {
            "type": "boolean"
          },
          "edited": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "CommentListResponse": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "format": "int64"
          },
          "nextCursor": {
            "type": "string"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentItem"
            }
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseCommentCountResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/CommentCountResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CommentCountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseMainHotpickResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/MainHotpickResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "CategoryTabResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "selected": {
            "type": "boolean"
          }
        }
      },
      "MainHotpickResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryTabResponse"
            }
          },
          "hotpicks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotpickCardResponse"
            }
          },
          "nextCursor": {
            "type": "string"
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseListCategoryTabResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/CategoryTabResponse"
            }
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseMapStringString": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "응답 데이터"
            },
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseListServerMetaResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/ServerMetaResponse"
            }
          }
        },
        "description": "공통 응답 포맷"
      },
      "AdminHotpickSummaryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "imageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminCategoryResponse"
            }
          },
          "election": {
            "$ref": "#/components/schemas/AdminElectionResponse"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseListAdminHotpickSummaryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/AdminHotpickSummaryResponse"
            }
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseHotpickSlugCheckResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "$ref": "#/components/schemas/HotpickSlugCheckResponse"
          }
        },
        "description": "공통 응답 포맷"
      },
      "HotpickSlugCheckResponse": {
        "type": "object",
        "properties": {
          "exists": {
            "type": "boolean"
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseListAdminCategoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "응답 코드",
            "example": "S0000"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/AdminCategoryResponse"
            }
          }
        },
        "description": "공통 응답 포맷"
      },
      "DeleteCommentRequest": {
        "required": ["verifyToken"],
        "type": "object",
        "properties": {
          "verifyToken": {
            "type": "string"
          }
        }
      }
    }
  }
}
