@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16;
  width: 100%;
}

.button {
  @include flex-column;
  @include flex-center;
  gap: $spacing-8;
  background: none;
  border: none;
  cursor: pointer;
  @include transition(transform, 0.2s);

  &:disabled {
    cursor: default;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $color4-500;
  color: $white;

  .button:disabled & {
    background-color: $neutral-300;
    color: #fff;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.label {
  font-size: $font-size-16;
  font-weight: 600;
  color: $color4-500;
  text-align: center;

  .button:disabled & {
    color: $neutral-300;
  }
}
