@use '@/styles/variables' as *;

:root {
  --primary-start: #{$primary-start};
  --primary-end: #{$primary-end};
  --primary-gradient: linear-gradient(90deg, var(--primary-start) 0%, var(--primary-end) 100%);
  --primary-start-rgb: 255, 0, 255;
  --primary-end-rgb: 255, 69, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: $bg-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }
}

// Scrollbar 숨김 설정
* {
  // Firefox
  scrollbar-width: none;

  // IE, Edge
  -ms-overflow-style: none;

  // Chrome, Safari, Opera
  &::-webkit-scrollbar {
    display: none;
  }
}
