* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

// Scrollbar 숨김 설정
* {
  // Firefox
  scrollbar-width: none;

  // IE, Edge
  -ms-overflow-style: none;

  // Chrome, Safari, Opera
  &::-webkit-scrollbar {
    display: none;
  }
}
