@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 2px;
  width: 100%;
  z-index: $z-index-sticky;
  background-color: $bg-primary;
}

.step {
  flex: 1;
  height: 4px;
  background-color: $bg-tertiary;
  @include transition(background-color);

  &.active {
    background: linear-gradient(90deg, $primary-start 0%, $primary-end 100%);
  }
}
