@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  min-height: 100vh;
  background-color: #ffffff;
}

.content {
  padding: 40px 16px;
  max-width: 512px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
