@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.content {
  border-radius: 10px;
  box-shadow:
    0px 2px 5px #171a1f17,
    0px 0px 2px #171a1f1f;
  padding: 24px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $neutral-600;
}

.title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $neutral-900;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.question {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $neutral-900;
  margin-bottom: 8px;
}

.options {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.option {
  flex: 1;
  max-width: 180px;
  padding: 16px 24px;
  border-radius: 10px;
  border: 2px solid $neutral-300;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $neutral-600;
  transition: all 0.2s ease;
  word-break: keep-all;

  &.selected {
    border-color: $result-border;
    background-color: $result-background;
    color: $result-text;
    font-weight: 600;
  }
}
