@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.card {
  @include flex-column;
  width: 100%;
}

.header {
  padding: 0;
  margin-bottom: 16px;
}

.title {
  font-size: $font-size-24;
  line-height: 32px;
  font-weight: 700;
  color: $neutral-900;
  word-break: keep-all;
}

.label {
  font-size: $font-size-16;
  color: $neutral-600;
  font-weight: 500;
  line-height: 24px;
}

.options {
  @include flex-column;
  gap: $spacing-16;
  width: 100%;
}

.flipContainer {
  perspective: 1000px;
  width: 100%;
}

.flipInner {
  position: relative;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipInner.flipped {
  transform: rotateY(180deg);
}

.flipFront,
.flipBack {
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipFront {
  position: relative;
  z-index: 2;
}

.flipBack {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
