@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.card {
  @include flex-column;
  width: 100%;
  gap: 24px;
}

.questionText {
  font-size: $font-size-22;
  line-height: 30px;
  font-weight: $font-weight-bold;
  color: $white;
  text-align: center;
  word-break: keep-all;
  padding: 0 16px;

  @include se {
    font-size: $font-size-20;
    line-height: 28px;
  }
}

.optionsContainer {
  @include flex-column;
  gap: 20px;
  width: 100%;
}
