@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.inputWrapper {
  @include flex-column;
  gap: 8px;
  margin-top: 8px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: $font-size-16;
  color: $neutral-900;
  border: 1px solid $neutral-300;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;

  &::placeholder {
    color: $neutral-400;
  }

  &:focus {
    border-color: $primary-500;
  }

  &.inputError {
    border-color: $error-500;
  }
}

.errorMessage {
  font-size: $font-size-14;
  color: $error-500;
  text-align: left;
  margin: 0;
}
