@use '@/styles/variables' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-modal-backdrop;
}

.content {
  position: relative;
  z-index: $z-index-modal;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}
