@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow:
    0px 2px 5px #171a1f17,
    0px 0px 2px #171a1f1f;
  padding: 20px 16px 30px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $neutral-900;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $neutral-600;
  margin-bottom: 24px;
}

.resultBox {
  margin-bottom: 24px;
}

.resultLabel {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: $neutral-900;
  margin-bottom: 10px;

  span {
    font-weight: 400;
  }
}

.emptyBox {
  background-color: $neutral-200;
  border-radius: 10px;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: $neutral-500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  height: 80px;
}

.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid $neutral-300;
  padding: 8px 8px 8px 16px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $neutral-200;
  }

  .friendInfo {
    width: calc(100% - 32px);
    height: 100%;
  }
}

.friendHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.friendNickname {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: $neutral-900;
}

.friendTimestamp {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: $neutral-500;
}

.friendComment {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $neutral-600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.matchBar {
  display: flex;
  gap: 4px;
  align-items: center;
}

.matchBarItem {
  height: 6px;
  flex: 1;
  border-radius: 3px;
  background-color: $neutral-300;
  transition: background-color 0.2s ease;

  &.active {
    background-color: $primary-500;
  }
}

.chevronIcon {
  flex-shrink: 0;
  color: $neutral-400;
  margin-left: 8px;
}

.inputSection {
  margin-bottom: 16px;

  .inputHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
  }
}

.label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: $neutral-900;
}

.helpIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-1px);
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1.5px solid $neutral-300;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  color: $neutral-900;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    color: $neutral-400;
  }

  &:focus {
    border-color: $color4-500;
  }

  &.error {
    &:focus {
      border-color: $error-500;
    }
  }
}
