{
  "openapi": "3.0.1",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [{ "url": "https://trend-api.votebox.kr", "description": "Generated server url" }],
  "tags": [
    { "name": "Result", "description": "결과 생성 API" },
    { "name": "Trend", "description": "트렌드 조회 API" },
    { "name": "Admin Item", "description": "아이템(선거) 데이터 전시 API" },
    { "name": "Comment", "description": "댓글 CRUD/좋아요 API" },
    { "name": "Display", "description": "전시용 조회 API" },
    { "name": "Admin Storage", "description": "관리자용 S3 Pre-signed URL API" },
    { "name": "Admin Trend", "description": "트렌드 Admin API" }
  ],
  "paths": {
    "/api/v1/comment/{commentId}": {
      "put": {
        "tags": ["Comment"],
        "summary": "댓글 수정",
        "operationId": "updateComment",
        "parameters": [
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCommentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          }
        }
      }
    },
    "/admin/api/v1/trend/{trendId}": {
      "put": {
        "tags": ["Admin Trend"],
        "summary": "트렌드 수정",
        "operationId": "updateTrend",
        "parameters": [
          {
            "name": "trendId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateTrendRequest" } }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseAdminTrendResponse" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Trend"],
        "summary": "트렌드 삭제",
        "operationId": "deleteTrend",
        "parameters": [
          {
            "name": "trendId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          }
        }
      }
    },
    "/api/v1/result": {
      "post": {
        "tags": ["Result"],
        "summary": "결과 생성 및 투표 전송",
        "operationId": "createResult",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateResultRequest" } }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCreateResultResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/result/{resultId}/nickname": {
      "post": {
        "tags": ["Result"],
        "summary": "닉네임 최초 설정",
        "description": "이미 닉네임이 설정된 경우 변경 불가",
        "operationId": "updateNickname",
        "parameters": [
          { "name": "resultId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateNicknameRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          }
        }
      }
    },
    "/api/v1/comment": {
      "post": {
        "tags": ["Comment"],
        "summary": "댓글 작성",
        "operationId": "createComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCommentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCommentCreateResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/comment/{commentId}/verify": {
      "post": {
        "tags": ["Comment"],
        "summary": "댓글 수정 검증",
        "operationId": "verifyComment",
        "parameters": [
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyCommentRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCommentVerifyResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/comment/{commentId}/like": {
      "post": {
        "tags": ["Comment"],
        "summary": "댓글 좋아요",
        "operationId": "likeComment",
        "parameters": [
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "x-tku-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCommentLikeResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Comment"],
        "summary": "댓글 좋아요 취소",
        "operationId": "unlikeComment",
        "parameters": [
          { "name": "commentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "x-tku-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCommentLikeResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/trend": {
      "get": {
        "tags": ["Admin Trend"],
        "summary": "트렌드 목록 조회",
        "operationId": "getTrends",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseListAdminTrendResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Trend"],
        "summary": "트렌드 생성",
        "description": "관리자용 트렌드 생성 API",
        "operationId": "createTrend",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateTrendRequest" } }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseTrendResponse" } }
            }
          }
        }
      }
    },
    "/api/v1/trend/{trendAlias}/item/{itemId}": {
      "get": {
        "tags": ["Trend"],
        "summary": "트렌드 아이템 옵션 카운트 조회",
        "operationId": "getTrendItemOptions",
        "parameters": [
          { "name": "trendAlias", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "itemId", "in": "path", "required": true, "schema": { "type": "string" } },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseTrendItemOptionsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/result/{resultId}/exists": {
      "get": {
        "tags": ["Result"],
        "summary": "결과 존재 여부 확인",
        "operationId": "checkResultExists",
        "parameters": [
          { "name": "resultId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseResultExistsResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/display/trend/{trendId}/item/{itemId}/comment": {
      "get": {
        "tags": ["Display"],
        "summary": "트렌드 아이템 댓글 조회",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "trendId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          { "name": "itemId", "in": "path", "required": true, "schema": { "type": "string" } },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "latest" }
          },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          { "name": "x-tku-id", "in": "header", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseCommentListResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/display/trend/{trendAlias}": {
      "get": {
        "tags": ["Display"],
        "summary": "트렌드 상세 조회",
        "operationId": "getTrendDetail",
        "parameters": [
          { "name": "trendAlias", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseDisplayTrendDetailResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/display/result/{resultId}": {
      "get": {
        "tags": ["Display"],
        "summary": "결과 상세 조회",
        "operationId": "getResultDetail",
        "parameters": [
          { "name": "resultId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "compareId", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseDisplayResultResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/display/result/{resultId}/invitee": {
      "get": {
        "tags": ["Display"],
        "summary": "초대한 친구 결과 목록 조회",
        "operationId": "getInviteeResults",
        "parameters": [
          { "name": "resultId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseInviteeResultResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/display/main": {
      "get": {
        "tags": ["Display"],
        "summary": "메인 화면 트렌드 조회",
        "operationId": "getMainDisplay",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseDisplayMainResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/trend/check": {
      "get": {
        "tags": ["Admin Trend"],
        "summary": "트렌드 alias 중복 체크",
        "description": "트렌드 alias 사용 가능 여부 확인",
        "operationId": "checkTrendAlias",
        "parameters": [
          { "name": "alias", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseTrendAliasCheckResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/storage/presigned": {
      "get": {
        "tags": ["Admin Storage"],
        "summary": "관리자 업로드용 Pre-signed URL 발급",
        "description": "파일명을 전달하면 S3 업로드 URL과 CDN 경로를 반환합니다.",
        "operationId": "generatePresignedUrl",
        "parameters": [
          { "name": "filename", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseMapStringString" } }
            }
          }
        }
      }
    },
    "/admin/api/v1/item/{itemId}": {
      "get": {
        "tags": ["Admin Item"],
        "summary": "아이템 상세 조회",
        "description": "Votebox 선거 API 응답을 item/options 구조로 변환합니다.",
        "operationId": "getItem",
        "parameters": [
          { "name": "itemId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminGetItemResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponseVoid": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "type": "object", "description": "응답 데이터" }
        },
        "description": "공통 응답 포맷"
      },
      "UpdateCommentRequest": {
        "required": ["content", "editToken"],
        "type": "object",
        "properties": {
          "editToken": { "type": "string", "description": "검증 토큰" },
          "content": { "type": "string", "description": "수정할 내용" }
        }
      },
      "LabelRequest": {
        "type": "object",
        "properties": {
          "label": { "type": "string", "description": "라벨 값", "example": "열정 타입" }
        },
        "description": "라벨 입력"
      },
      "ResultTypeRequest": {
        "type": "object",
        "properties": {
          "key": { "type": "string", "description": "결과 key", "example": "110/210/330" },
          "label": { "type": "string", "description": "결과 라벨", "example": "열정 타입" }
        },
        "description": "결과 타입 입력"
      },
      "TrendMetaRequest": {
        "type": "object",
        "properties": {
          "resultLabel": { "type": "string", "description": "결과 라벨", "example": "당신의 결과" },
          "resultType": {
            "type": "array",
            "description": "결과 타입 배열",
            "items": { "$ref": "#/components/schemas/ResultTypeRequest" }
          },
          "answerType": {
            "type": "array",
            "description": "답변 타입 배열",
            "items": { "$ref": "#/components/schemas/LabelRequest" }
          }
        },
        "description": "트렌드 메타 정보"
      },
      "UpdateTrendRequest": {
        "required": ["alias", "electionIds", "title"],
        "type": "object",
        "properties": {
          "alias": { "type": "string", "description": "트렌드 alias", "example": "love" },
          "title": { "type": "string", "description": "트렌드 제목", "example": "2025 트렌드" },
          "label": { "type": "string", "description": "트렌드 라벨", "example": "TREND2025" },
          "imageUrl": { "type": "string", "description": "대표 이미지 URL" },
          "electionIds": {
            "type": "array",
            "description": "연결된 선거/캠페인 ID 목록",
            "items": { "type": "string", "description": "연결된 선거/캠페인 ID 목록" }
          },
          "meta": { "$ref": "#/components/schemas/TrendMetaRequest" },
          "isVisible": { "type": "boolean", "description": "노출 여부", "example": true }
        },
        "description": "트렌드 수정 요청"
      },
      "AdminTrendResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "트렌드 ID", "format": "int64" },
          "alias": { "type": "string", "description": "트렌드 alias" },
          "title": { "type": "string", "description": "트렌드 제목" },
          "label": { "type": "string", "description": "라벨" },
          "imageUrl": { "type": "string", "description": "대표 이미지 URL" },
          "electionIds": {
            "type": "array",
            "description": "연결된 아이템 ID 목록",
            "items": { "type": "string", "description": "연결된 아이템 ID 목록" }
          },
          "meta": { "$ref": "#/components/schemas/TrendMeta" },
          "visible": { "type": "boolean", "description": "노출 여부" },
          "createdAt": { "type": "string", "description": "생성 일시" }
        },
        "description": "관리자 트렌드 응답"
      },
      "BaseResponseAdminTrendResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/AdminTrendResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "TrendCompareType": { "type": "object", "properties": { "label": { "type": "string" } } },
      "TrendMeta": {
        "type": "object",
        "properties": {
          "resultLabel": { "type": "string" },
          "resultTypes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrendResultType" }
          },
          "compareTypes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrendCompareType" }
          }
        },
        "description": "메타 정보"
      },
      "TrendResultType": {
        "type": "object",
        "properties": { "key": { "type": "string" }, "label": { "type": "string" } }
      },
      "CreateResultRequest": {
        "type": "object",
        "properties": {
          "trendId": { "type": "integer", "format": "int64" },
          "selectedItems": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SelectedItem" }
          },
          "invitationId": { "type": "string" },
          "nickname": { "type": "string" }
        }
      },
      "SelectedItem": {
        "type": "object",
        "properties": { "itemId": { "type": "string" }, "optionId": { "type": "string" } }
      },
      "BaseResponseCreateResultResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/CreateResultResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CreateResultResponse": {
        "type": "object",
        "properties": { "resultId": { "type": "string" } },
        "description": "응답 데이터"
      },
      "UpdateNicknameRequest": {
        "type": "object",
        "properties": { "nickname": { "type": "string" } }
      },
      "CreateCommentRequest": {
        "required": ["content", "itemId", "nickname", "password", "trendId"],
        "type": "object",
        "properties": {
          "trendId": { "type": "integer", "description": "트렌드 ID", "format": "int64" },
          "itemId": { "type": "string", "description": "아이템 ID" },
          "nickname": { "type": "string", "description": "닉네임" },
          "password": { "type": "string", "description": "댓글 비밀번호" },
          "content": { "type": "string", "description": "댓글 내용" }
        }
      },
      "BaseResponseCommentCreateResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/CommentCreateResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CommentCreateResponse": {
        "type": "object",
        "properties": { "id": { "type": "string" } },
        "description": "응답 데이터"
      },
      "VerifyCommentRequest": {
        "required": ["password"],
        "type": "object",
        "properties": { "password": { "type": "string", "description": "댓글 비밀번호" } }
      },
      "BaseResponseCommentVerifyResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/CommentVerifyResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CommentVerifyResponse": {
        "type": "object",
        "properties": {
          "editToken": { "type": "string" },
          "expiresIn": { "type": "integer", "format": "int64" },
          "expiresAt": { "type": "string" }
        },
        "description": "응답 데이터"
      },
      "BaseResponseCommentLikeResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/CommentLikeResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CommentLikeResponse": {
        "type": "object",
        "properties": {
          "liked": { "type": "boolean", "description": "현재 liked 상태" },
          "likeCount": {
            "type": "integer",
            "description": "서버가 계산한 likeCount",
            "format": "int64"
          }
        },
        "description": "응답 데이터"
      },
      "CreateTrendRequest": {
        "required": ["alias", "electionIds", "title"],
        "type": "object",
        "properties": {
          "alias": { "type": "string", "description": "트렌드 alias", "example": "love" },
          "title": { "type": "string", "description": "트렌드 제목", "example": "2025 트렌드" },
          "label": { "type": "string", "description": "트렌드 라벨", "example": "TREND2025" },
          "imageUrl": { "type": "string", "description": "대표 이미지 URL" },
          "electionIds": {
            "type": "array",
            "description": "연결된 선거/캠페인 ID 목록",
            "items": { "type": "string", "description": "연결된 선거/캠페인 ID 목록" }
          },
          "meta": { "$ref": "#/components/schemas/TrendMetaRequest" },
          "isVisible": { "type": "boolean", "description": "노출 여부", "example": true }
        },
        "description": "트렌드 생성 요청"
      },
      "BaseResponseTrendResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/TrendResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "TrendResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "생성된 트렌드 ID",
            "format": "int64",
            "example": 1
          },
          "alias": { "type": "string", "description": "트렌드 alias", "example": "love" }
        },
        "description": "트렌드 생성 응답"
      },
      "BaseResponseTrendItemOptionsResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/TrendItemOptionsResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "OptionCount": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "옵션 ID" },
          "count": { "type": "integer", "description": "투표 수", "format": "int64" }
        },
        "description": "옵션 카운트 정보"
      },
      "TrendItemOptionsResponse": {
        "type": "object",
        "properties": {
          "options": {
            "type": "array",
            "description": "옵션 카운트 목록",
            "items": { "$ref": "#/components/schemas/OptionCount" }
          }
        },
        "description": "트렌드 옵션 카운트 응답"
      },
      "BaseResponseResultExistsResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/ResultExistsResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "ResultExistsResponse": {
        "type": "object",
        "properties": { "exists": { "type": "boolean" } },
        "description": "응답 데이터"
      },
      "BaseResponseCommentListResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/CommentListResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CommentItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "content": { "type": "string" },
          "likeCount": { "type": "integer", "format": "int64" },
          "liked": { "type": "boolean" },
          "createdAt": { "type": "string" }
        }
      },
      "CommentListResponse": {
        "type": "object",
        "properties": {
          "totalSize": { "type": "integer", "format": "int64" },
          "nextId": { "type": "string" },
          "comments": { "type": "array", "items": { "$ref": "#/components/schemas/CommentItem" } }
        },
        "description": "응답 데이터"
      },
      "BaseResponseDisplayTrendDetailResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/DisplayTrendDetailResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "DisplayTrendDetailResponse": {
        "type": "object",
        "properties": {
          "trendId": { "type": "integer", "description": "트렌드 ID", "format": "int64" },
          "alias": { "type": "string", "description": "트렌드 alias" },
          "title": { "type": "string", "description": "트렌드 제목" },
          "label": { "type": "string", "description": "라벨" },
          "imageUrl": { "type": "string", "description": "대표 이미지 URL" },
          "createdAt": { "type": "string", "description": "생성 일시" },
          "items": {
            "type": "array",
            "description": "아이템 목록",
            "items": { "$ref": "#/components/schemas/DisplayTrendItemResponse" }
          }
        },
        "description": "트렌드 상세 응답"
      },
      "DisplayTrendItemResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "항목 ID" },
          "title": { "type": "string", "description": "항목 제목" },
          "label": { "type": "string", "description": "트렌드 라벨" },
          "options": {
            "type": "array",
            "description": "옵션 목록",
            "items": { "$ref": "#/components/schemas/DisplayTrendOptionResponse" }
          }
        },
        "description": "트렌드 상세 항목"
      },
      "DisplayTrendOptionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "옵션 ID" },
          "title": { "type": "string", "description": "옵션 제목" },
          "imageUrl": { "type": "string", "description": "옵션 이미지 URL" }
        },
        "description": "선거 옵션 정보"
      },
      "BaseResponseDisplayResultResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/DisplayResultResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "DisplayResultResponse": {
        "type": "object",
        "properties": {
          "resultLabel": { "type": "string", "description": "결과 라벨" },
          "resultType": { "type": "string", "description": "매핑된 결과 타입 라벨" },
          "trend": { "$ref": "#/components/schemas/TrendResult" },
          "selectedOptions": {
            "type": "array",
            "description": "선택한 옵션 목록",
            "items": { "type": "string", "description": "선택한 옵션 목록" }
          },
          "nickname": { "type": "string", "description": "응답자 닉네임" },
          "compareSelectedOptions": {
            "type": "array",
            "description": "비교 대상의 선택 옵션 목록",
            "items": { "type": "string", "description": "비교 대상의 선택 옵션 목록" }
          },
          "compareNickname": { "type": "string", "description": "비교 대상 닉네임" },
          "compareType": { "type": "string", "description": "비교 타입" },
          "matchCount": { "type": "integer", "description": "일치한 선택 수", "format": "int32" },
          "totalCount": { "type": "integer", "description": "총 선택 수", "format": "int32" }
        },
        "description": "결과 상세 조회 응답"
      },
      "Option": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "title": { "type": "string" } }
      },
      "TrendResult": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "alias": { "type": "string" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/TrendResultItem" } }
        },
        "description": "트렌드/아이템 정보"
      },
      "TrendResultItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "options": { "type": "array", "items": { "$ref": "#/components/schemas/Option" } }
        }
      },
      "BaseResponseInviteeResultResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/InviteeResultResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "InviteeResultResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "초대 수락 결과 목록",
            "items": { "$ref": "#/components/schemas/Item" }
          }
        },
        "description": "초대 받은 친구 결과 목록 응답"
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "nickname": { "type": "string" },
          "compareType": { "type": "string" },
          "createdAt": { "type": "string", "format": "date" }
        },
        "description": "초대 받은 친구 결과 항목"
      },
      "BaseResponseDisplayMainResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/DisplayMainResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "DisplayMainResponse": {
        "type": "object",
        "properties": {
          "trends": {
            "type": "array",
            "description": "트렌드 목록",
            "items": { "$ref": "#/components/schemas/DisplayTrendResponse" }
          }
        },
        "description": "메인 화면 응답"
      },
      "DisplayTrendResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "트렌드 ID", "format": "int64" },
          "alias": { "type": "string", "description": "트렌드 alias" },
          "title": { "type": "string", "description": "트렌드 제목" },
          "label": { "type": "string", "description": "라벨" },
          "imageUrl": { "type": "string", "description": "이미지 URL" },
          "createdAt": { "type": "string", "description": "생성 일시" },
          "participantsCount": { "type": "integer", "description": "참여자 수", "format": "int64" }
        },
        "description": "메인 노출용 트렌드 정보"
      },
      "BaseResponseListAdminTrendResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/AdminTrendResponse" }
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseTrendAliasCheckResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/TrendAliasCheckResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "TrendAliasCheckResponse": {
        "type": "object",
        "properties": {
          "exists": { "type": "boolean", "description": "alias 존재 여부", "example": false }
        },
        "description": "트렌드 alias 중복 체크 응답"
      },
      "BaseResponseMapStringString": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "object",
            "additionalProperties": { "type": "string", "description": "응답 데이터" },
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "AdminGetItemResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "kind": { "type": "string" },
          "allowMultipleVotes": { "type": "boolean" },
          "status": { "type": "string" },
          "startTime": { "type": "string" },
          "endTime": { "type": "string" },
          "createdAt": { "type": "string" },
          "isUnlimited": { "type": "boolean" },
          "options": { "type": "array", "items": { "$ref": "#/components/schemas/Option" } }
        },
        "description": "응답 데이터"
      },
      "BaseResponseAdminGetItemResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/AdminGetItemResponse" }
        },
        "description": "공통 응답 포맷"
      }
    }
  }
}
