{
  "openapi": "3.0.1",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [
    { "url": "https://beta-hotpick-api.votebox.kr", "description": "Generated server url" }
  ],
  "tags": [
    { "name": "Admin Category", "description": "Category admin API" },
    { "name": "Admin Storage", "description": "관리자용 S3 Pre-signed URL API" },
    { "name": "Hotpick", "description": "Hotpick display and vote API" },
    { "name": "Admin Hotpick", "description": "Hotpick admin API" }
  ],
  "paths": {
    "/admin/api/v1/hotpicks/{hotpickId}": {
      "get": {
        "tags": ["Admin Hotpick"],
        "summary": "Get hotpick detail",
        "operationId": "getHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Admin Hotpick"],
        "summary": "Update hotpick",
        "operationId": "updateHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateHotpickRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Hotpick"],
        "summary": "Delete hotpick",
        "operationId": "deleteHotpick",
        "parameters": [
          {
            "name": "hotpickId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          }
        }
      }
    },
    "/admin/api/v1/categories/{categoryId}": {
      "put": {
        "tags": ["Admin Category"],
        "summary": "Update category",
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCategoryRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminCategoryResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin Category"],
        "summary": "Delete category",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}/votes": {
      "post": {
        "tags": ["Hotpick"],
        "summary": "Submit vote for a hotpick",
        "operationId": "vote",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "x-tku-id", "in": "header", "required": false, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateVoteRequest" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoteResultResponse" } }
            }
          }
        }
      }
    },
    "/admin/api/v1/hotpicks": {
      "get": {
        "tags": ["Admin Hotpick"],
        "summary": "Get hotpick list",
        "operationId": "getHotpicks",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseListAdminHotpickSummaryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Hotpick"],
        "summary": "Create hotpick",
        "operationId": "createHotpick",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateHotpickRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminHotpickDetailResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/categories": {
      "get": {
        "tags": ["Admin Category"],
        "summary": "Get category list",
        "operationId": "getCategories",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseListAdminCategoryResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Category"],
        "summary": "Create category",
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCategoryRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseAdminCategoryResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/{slug}": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get hotpick detail",
        "operationId": "getDetail",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "x-tku-id", "in": "header", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseHotpickDetailResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/main": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get main hotpick display",
        "operationId": "getMain",
        "parameters": [
          { "name": "category", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          { "name": "x-tku-id", "in": "header", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseMainHotpickResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/hotpicks/categories": {
      "get": {
        "tags": ["Hotpick"],
        "summary": "Get category tabs",
        "operationId": "getCategories_1",
        "parameters": [
          { "name": "selected", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/BaseResponseListCategoryTabResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/api/v1/storage/presigned": {
      "get": {
        "tags": ["Admin Storage"],
        "summary": "관리자 업로드용 Pre-signed URL 발급",
        "description": "파일명을 전달하면 S3 업로드 URL과 CDN 경로를 반환합니다.",
        "operationId": "generatePresignedUrl",
        "parameters": [
          { "name": "filename", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "429": {
            "description": "Too Many Requests",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseVoid" } } }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseObject" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/BaseResponseMapStringString" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponseVoid": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "type": "object", "description": "응답 데이터" }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseObject": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "type": "object", "description": "응답 데이터" }
        },
        "description": "공통 응답 포맷"
      },
      "HotpickElectionItemRequest": {
        "required": ["title"],
        "type": "object",
        "properties": {
          "displayOrder": { "minimum": 0, "type": "integer", "format": "int32" },
          "title": { "maxLength": 200, "minLength": 0, "type": "string" },
          "imageUrl": { "maxLength": 500, "minLength": 0, "type": "string" }
        }
      },
      "HotpickElectionRequest": {
        "required": ["items", "title"],
        "type": "object",
        "properties": {
          "title": { "maxLength": 200, "minLength": 0, "type": "string" },
          "imageUrl": { "maxLength": 500, "minLength": 0, "type": "string" },
          "totalCommentCount": { "minimum": 0, "type": "integer", "format": "int64" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HotpickElectionItemRequest" }
          }
        }
      },
      "UpdateHotpickRequest": {
        "required": ["election", "slug", "type", "visible"],
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["SINGLE"] },
          "slug": { "maxLength": 120, "minLength": 0, "type": "string" },
          "visible": { "type": "boolean" },
          "imageUrl": { "maxLength": 500, "minLength": 0, "type": "string" },
          "expiredAt": { "type": "string", "format": "date-time" },
          "categoryIds": { "type": "array", "items": { "type": "integer", "format": "int64" } },
          "election": { "$ref": "#/components/schemas/HotpickElectionRequest" }
        }
      },
      "AdminCategoryResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "AdminElectionItemResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "displayOrder": { "type": "integer", "format": "int32" },
          "title": { "type": "string" },
          "imageUrl": { "type": "string" },
          "voteCount": { "type": "integer", "format": "int64" }
        }
      },
      "AdminElectionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "hotpickId": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "imageUrl": { "type": "string" },
          "totalVoteCount": { "type": "integer", "format": "int64" },
          "totalCommentCount": { "type": "integer", "format": "int64" },
          "createdAt": { "type": "string", "format": "date-time" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AdminElectionItemResponse" }
          }
        }
      },
      "AdminHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "type": { "type": "string" },
          "slug": { "type": "string" },
          "visible": { "type": "boolean" },
          "imageUrl": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "expiredAt": { "type": "string", "format": "date-time" },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AdminCategoryResponse" }
          },
          "election": { "$ref": "#/components/schemas/AdminElectionResponse" }
        },
        "description": "응답 데이터"
      },
      "BaseResponseAdminHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/AdminHotpickDetailResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "UpdateCategoryRequest": {
        "required": ["name", "slug"],
        "type": "object",
        "properties": {
          "name": { "maxLength": 120, "minLength": 0, "type": "string" },
          "slug": { "maxLength": 120, "minLength": 0, "type": "string" }
        }
      },
      "BaseResponseAdminCategoryResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/AdminCategoryResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CreateVoteRequest": {
        "required": ["electionItemId"],
        "type": "object",
        "properties": { "electionItemId": { "type": "integer", "format": "int64" } }
      },
      "BaseResponseVoteResultResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/VoteResultResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "ElectionItemViewResponse": {
        "type": "object",
        "properties": {
          "electionItemId": { "type": "integer", "format": "int64" },
          "displayOrder": { "type": "integer", "format": "int32" },
          "title": { "type": "string" },
          "imageUrl": { "type": "string" },
          "voteCount": { "type": "integer", "format": "int64" },
          "voteRate": { "type": "integer", "format": "int32" },
          "selected": { "type": "boolean" }
        }
      },
      "VoteResultResponse": {
        "type": "object",
        "properties": {
          "hotpickId": { "type": "integer", "format": "int64" },
          "hotpickSlug": { "type": "string" },
          "electionId": { "type": "integer", "format": "int64" },
          "myElectionItemId": { "type": "integer", "format": "int64" },
          "totalVoteCount": { "type": "integer", "format": "int64" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ElectionItemViewResponse" }
          },
          "voted": { "type": "boolean" }
        },
        "description": "응답 데이터"
      },
      "CreateHotpickRequest": {
        "required": ["election", "slug", "type", "visible"],
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["SINGLE"] },
          "slug": { "maxLength": 120, "minLength": 0, "type": "string" },
          "visible": { "type": "boolean" },
          "imageUrl": { "maxLength": 500, "minLength": 0, "type": "string" },
          "expiredAt": { "type": "string", "format": "date-time" },
          "categoryIds": { "type": "array", "items": { "type": "integer", "format": "int64" } },
          "election": { "$ref": "#/components/schemas/HotpickElectionRequest" }
        }
      },
      "CreateCategoryRequest": {
        "required": ["name", "slug"],
        "type": "object",
        "properties": {
          "name": { "maxLength": 120, "minLength": 0, "type": "string" },
          "slug": { "maxLength": 120, "minLength": 0, "type": "string" }
        }
      },
      "BaseResponseHotpickDetailResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/HotpickDetailResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "ElectionViewResponse": {
        "type": "object",
        "properties": {
          "electionId": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "imageUrl": { "type": "string" },
          "totalVoteCount": { "type": "integer", "format": "int64" },
          "totalCommentCount": { "type": "integer", "format": "int64" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ElectionItemViewResponse" }
          },
          "voted": { "type": "boolean" },
          "myElectionItemId": { "type": "integer", "format": "int64" }
        }
      },
      "HotpickCardResponse": {
        "type": "object",
        "properties": {
          "hotpickId": { "type": "integer", "format": "int64" },
          "type": { "type": "string" },
          "slug": { "type": "string" },
          "imageUrl": { "type": "string" },
          "expiredAt": { "type": "string", "format": "date-time" },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HotpickCategoryResponse" }
          },
          "election": { "$ref": "#/components/schemas/ElectionViewResponse" }
        }
      },
      "HotpickCategoryResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "HotpickDetailResponse": {
        "type": "object",
        "properties": {
          "hotpick": { "$ref": "#/components/schemas/HotpickCardResponse" },
          "relatedHotpicks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HotpickCardResponse" }
          }
        },
        "description": "응답 데이터"
      },
      "BaseResponseMainHotpickResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": { "$ref": "#/components/schemas/MainHotpickResponse" }
        },
        "description": "공통 응답 포맷"
      },
      "CategoryTabResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "selected": { "type": "boolean" }
        }
      },
      "MainHotpickResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CategoryTabResponse" }
          },
          "hotpicks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HotpickCardResponse" }
          },
          "nextCursor": { "type": "integer", "format": "int64" },
          "hasMore": { "type": "boolean" }
        },
        "description": "응답 데이터"
      },
      "BaseResponseListCategoryTabResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/CategoryTabResponse" }
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseMapStringString": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "object",
            "additionalProperties": { "type": "string", "description": "응답 데이터" },
            "description": "응답 데이터"
          }
        },
        "description": "공통 응답 포맷"
      },
      "AdminHotpickSummaryResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "type": { "type": "string" },
          "slug": { "type": "string" },
          "visible": { "type": "boolean" },
          "imageUrl": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "expiredAt": { "type": "string", "format": "date-time" },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AdminCategoryResponse" }
          },
          "electionId": { "type": "integer", "format": "int64" }
        },
        "description": "응답 데이터"
      },
      "BaseResponseListAdminHotpickSummaryResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/AdminHotpickSummaryResponse" }
          }
        },
        "description": "공통 응답 포맷"
      },
      "BaseResponseListAdminCategoryResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "응답 코드", "example": "S0000" },
          "message": { "type": "string", "description": "응답 메시지", "example": "성공" },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": { "$ref": "#/components/schemas/AdminCategoryResponse" }
          }
        },
        "description": "공통 응답 포맷"
      }
    }
  }
}
