@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.wrapper {
  @include flex-center;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.container {
  width: 100%;
  max-width: 568px;
  height: 100%;
  position: relative;
}
