@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.wrapper {
  @include flex-center;
  min-height: 100vh;
  width: 100%;
  background-color: $white;
}

.container {
  width: 100%;
  max-width: 568px;
  min-height: 100vh;
  position: relative;
}
