# name: deploy-prod

# on:
#     push:
#         branches:
#             - main
#         # tags:
#         #     - 'v*'
#     workflow_dispatch:

# jobs:
#     build-and-copy:
#         runs-on: ubuntu-latest
#         if: always()
#         steps:
#           - name: checkout
#             uses: actions/checkout@v4

#           - name: Setup PNPM
#             uses: pnpm/action-setup@v3
#             with:
#                 version: 10
#                 run_install: false

#           - name: Setup Node.js
#             uses: actions/setup-node@v4
#             with:
#                 node-version: '24.11.1'
#                 cache: 'pnpm'

#           - name: vars
#             id: vars
#             run: |
#                 sha_short=$(git rev-parse --short HEAD)
#                 sed -i "s/\"version\": \".*\"/\"version\": \"$sha_short\"/" package.json
#                 echo "NEXT_PUBLIC_API_BASE_URL=https://trend-api.votebox.kr" > .env
#                 pnpm install --frozen-lockfile
#                 pnpm build

#           - name: Prepare standalone files
#             run: |
#                 mkdir -p standalone-deploy
#                 cp -r .next/standalone/. standalone-deploy/
#                 cp -r .next/static standalone-deploy/.next/static
#                 cp -r public standalone-deploy/public
#                 cp ecosystem.config.js standalone-deploy/

#           - name: scp-to-ec2
#             uses: appleboy/scp-action@master
#             with:
#                 host: ${{ secrets.EC2_HOST }}
#                 username: ${{ secrets.EC2_USER }}
#                 key: ${{ secrets.EC2_SSH_KEY }}
#                 source: 'standalone-deploy/*'
#                 target: ${{ secrets.EC2_FRONT_PATH }}
#                 rm: true
#                 strip_components: 1

#           - name: start service
#             uses: appleboy/ssh-action@master
#             with:
#                 host: ${{ secrets.EC2_HOST }}
#                 username: ${{ secrets.EC2_USER }}
#                 key: ${{ secrets.EC2_SSH_KEY }}
#                 script: |
#                     cd ${{ secrets.EC2_FRONT_PATH }}
#                     pm2 delete trend-web || true
#                     pm2 start ecosystem.config.js --env production
#                     pm2 save

